.agreement {
  width: 100%;

  position: absolute;
  z-index: 2;
  top: 0;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s all ease;

  &.show {
    left: 0;
    opacity: 1;
    visibility: visible;
    z-index: 3;
  }

  .section__head {
    padding-top: 47px;
  }

  .section__body {
    .container {
      flex-direction: column;

      .agreement__content {
        margin-top: 29px;

        p {
          color: #fff;

          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          b {
            font-weight: 700;
          }
        }
        .btns {
          margin-top: 10px;
          margin: 10px 0 50px 0;
        }
      }
    }
  }
}
