.calculator {
  width: 100%;

  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s all ease;
  z-index: 2;

  &.show {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .section__body {
    padding-bottom: 42px;
    .container {
      flex-direction: column;
    }

    .calculator__block {
      width: 100%;
      margin-top: 33px;

      display: flex;
      flex-direction: column;
      gap: 36px;

      &--result {
        width: 100%;
        padding: 24px 22px 27px 21px;
        border-radius: 10px;
        background: #fff;

        display: flex;
        flex-direction: column;
        gap: 30px;

        .calc-res-text {
          &.w-50 {
            width: 50%;
          }
          color: #3c3c3c;

          font-size: 16px;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }

        .calc-res-number {
          color: #66a400;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px; /* 150% */
        }
      }
    }

    .btn_and_link {
      display: flex;
      flex-direction: column;
      margin-top: 64px;
      gap: 30px;
    }
  }

  &__result {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: 0.25s all ease;
    padding: 200px 34px 0 34px;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(60, 60, 60, 0.7) 0%,
      rgba(25, 25, 25, 0.7) 100%
    );
    backdrop-filter: blur(5px);

    &.show {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }

    &--content {
      padding: 34px 21px;
      border-radius: 10px;
      background: #fff;

      &_text {
        margin-bottom: 19px;

        h4 {
          color: #3c3c3c;

          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        p {
          color: #3c3c3c;

          font-size: 16px;
          font-style: normal;
          font-weight: 500;

          line-height: 19px;
        }
      }
    }

    &--btn {
      display: flex;
      justify-content: center;
    }

    @media (max-width: 576px) {
      padding: 87px 34px 0 34px;
    }
  }
}
