@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 393px;
  height: auto;
  margin: 0px auto;
  position: relative;
  overflow-x: hidden;
}

.section__head {
  padding: 62px 43px 0 34px;
  background: #66a400;
  height: 124px;
}

.container {
  max-width: 326px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}

.text-light {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.text-success {
  color: #66a400;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
}

input {
  font-size: 16px;
}

.btns {
  display: flex;
  justify-content: center;
}

.btn-success {
  width: 172px;
  height: 57px;
  border-radius: 10px;
  background: #66a400;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.link {
  color: #66a400;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
  background-color: #7b7b7b;
  cursor: no-drop;
}

.section__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.section__head button {
  background: none;
  border-radius: 50%;
}

.section__bottom {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 96px;
  padding: 0 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__bottom--item {
  width: 58%;
}
.section__bottom .ariza-checkbox {
  display: none; /* Hide the default checkbox */
}
.section__bottom .custom-checkbox {
  display: inline-block;
  width: 53px;
  height: 26px;
  background: #7b7b7b;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: border-color 0.3s;
  margin-top: -7px;
}
.section__bottom .custom-checkbox span {
  position: absolute;
  top: 50%;
  left: calc(0% + 14px);
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #d7db00;
  border-radius: 50%;
  transition: 0.25s all ease;
}
.section__bottom .ariza-checkbox:checked + .custom-checkbox {
  background: #fff;
}
.section__bottom .ariza-checkbox:checked + .custom-checkbox span {
  display: block; /* Show the checkmark when checked */
  left: calc(100% - 14px);
  background-color: #66a400;
}

.section__body {
  background: linear-gradient(180deg, #3c3c3c 0%, #191919 100%);
}

.section__body--title {
  width: 100%;
  margin-top: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.count {
  color: #d7db00;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: -5px;
}

.ariza__range {
  border-radius: 10px;
  width: 100%;
  margin: 28px 0;
  /*********** Baseline, reset styles ***********/
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  /* slider thumb */
  /*********** Firefox styles ***********/
  /* slider track */
  /* slider thumb */
}
.ariza__range[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #7b7b7b;
  cursor: pointer;
}
.ariza__range[type=range]::-webkit-slider-runnable-track {
  border-radius: 10px;
  height: 14px;
}
.ariza__range[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: #11ff00;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.ariza__range[type=range]::-moz-range-track {
  border-radius: 10px;
  height: 14px;
}
.ariza__range[type=range]::-moz-range-thumb {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.header {
  width: 100%;
  height: 124px;
  margin: 0 auto;
  position: relative;
}
.header img {
  position: absolute;
  top: 0;
  right: 0;
}

.menu {
  width: 100%;
  height: 728px;
  overflow: hidden;
  padding: 25px 33px 25px 34px;
  background: linear-gradient(180deg, #3c3c3c 0%, #191919 100%);
  margin-bottom: 20px;
}
.menu .container {
  flex-direction: column;
}
.menu__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 66px;
}
.menu__item button {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 22px;
  width: 100%;
  height: 57px;
  padding: 12px;
  border-radius: 10px;
  background: #66a400;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: 0.25s all ease;
}
.menu__item button:hover {
  box-shadow: 0 0 0px 2px #fff;
}
.menu__item button span {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.menu__item:nth-child(2) button {
  background: #a6c400;
}
.menu__item:nth-child(3) button {
  background: #d7db00;
}
.menu__item:nth-child(5) button {
  background-color: #a6c400;
}
.menu__item:nth-child(6) button {
  background-color: #d7db00;
}
.menu__map {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.ariza {
  max-width: 393px;
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease;
  z-index: 3;
}
.ariza.show {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.ariza__block {
  position: relative;
}
.ariza__body {
  background: linear-gradient(180deg, #3c3c3c 0%, #191919 100%);
  padding-top: 16px;
}
.ariza__body.ariza-rubl.hidden {
  display: none;
}
.ariza__body .container {
  flex-direction: column;
  align-items: start;
}
.ariza__body--summa a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
}
.ariza__body--range_calc {
  width: 100%;
  margin-top: 83px;
  margin-bottom: 139px;
}
.ariza__body--range_calc .count {
  color: #d7db00;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: -5px;
}
.ariza__body--range_calc .ariza__range {
  border-radius: 10px;
  width: 100%;
  margin: 28px 0;
}
.ariza__body .btn_and_link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 62px;
}
.ariza-day {
  opacity: 1;
  visibility: visible;
}
.ariza-day.hidden {
  display: none;
}
.ariza__result {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: 0.25s all ease;
  padding: 87px 34px 0 34px;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(60, 60, 60, 0.7) 0%, rgba(25, 25, 25, 0.7) 100%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.ariza__result.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.ariza__result--content {
  padding: 34px 21px;
  border-radius: 10px;
  background: #fff;
}
.ariza__result--content_text {
  margin-bottom: 19px;
}
.ariza__result--content_text h4 {
  color: #3c3c3c;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ariza__result--content_text p {
  color: #3c3c3c;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}
.ariza__result--btn {
  display: flex;
  justify-content: center;
}

.calculator {
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s all ease;
  z-index: 2;
}
.calculator.show {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.calculator .section__body {
  padding-bottom: 42px;
}
.calculator .section__body .container {
  flex-direction: column;
}
.calculator .section__body .calculator__block {
  width: 100%;
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.calculator .section__body .calculator__block--result {
  width: 326px;
  padding: 24px 22px 27px 21px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.calculator .section__body .calculator__block--result .calc-res-text {
  color: #3c3c3c;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.calculator .section__body .calculator__block--result .calc-res-text.w-50 {
  width: 50%;
}
.calculator .section__body .calculator__block--result .calc-res-number {
  color: #66a400;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.calculator .section__body .btn_and_link {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  gap: 30px;
}

.company {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s all ease;
}
.company.show {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.company__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0 37px 0;
}
.company__block--item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.company__block--item_text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contact {
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s all ease;
}
.contact.show {
  left: 0;
  opacity: 1;
  visibility: visible;
  z-index: 3;
}
.contact .section__head {
  padding: 47px 43px 0 34px;
}
.contact .section__body {
  width: 100%;
}
.contact .section__body .container {
  flex-direction: column;
}
.contact .section__body .container .form__contact {
  width: 100%;
  margin-bottom: 116px;
}
.contact .section__body .container .form__contact--item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  flex-direction: column;
  margin-bottom: 11px;
}
.contact .section__body .container .form__contact--item:first-child {
  margin-top: 42px;
}
.contact .section__body .container .form__contact--item input {
  width: 100%;
  height: 57px;
  border: none;
  padding: 19px 21px;
  border-radius: 10px;
  background: #fff;
}
.contact .section__body .container .form__contact--item input::-moz-placeholder {
  color: #d6d6d6;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contact .section__body .container .form__contact--item input::placeholder {
  color: #d6d6d6;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contact .section__body .container .form__contact .btns {
  margin-top: 112px;
  text-align: center;
}

.office {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s all ease;
}
.office.show {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.office .section__body {
  background: linear-gradient(180deg, #3c3c3c 0%, #191919 100%);
  padding-bottom: 18px;
}
.office .section__body .container {
  flex-direction: column;
}
.office .section__body .container .accordion-items {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 31px;
}
.office .section__body .container .accordion-items .accordion-item {
  padding: 0;
  margin: 0;
  min-height: 57px;
}
.office .section__body .container .accordion-items .accordion-item:nth-child(2) .accordion-title {
  background: #a6c400;
}
.office .section__body .container .accordion-items .accordion-item:nth-child(3) .accordion-title {
  background: #d7db00;
}
.office .section__body .container .accordion-items .accordion-item:nth-child(5) .accordion-title {
  background-color: #a6c400;
}
.office .section__body .container .accordion-items .accordion-item:nth-child(6) .accordion-title {
  background-color: #d7db00;
}
.office .section__body .container .accordion-items .accordion-item:nth-child(8) .accordion-title {
  background-color: #a6c400;
}
.office .section__body .container .accordion-items .accordion-item:nth-child(9) .accordion-title {
  background-color: #d7db00;
}
.office .section__body .container .accordion-items .accordion-item:nth-child(11) .accordion-title {
  background-color: #a6c400;
}
.office .section__body .container .accordion-items .accordion-item:nth-child(12) .accordion-title {
  background-color: #d7db00;
}
.office .section__body .container .accordion-title {
  width: 326px;
  height: 57px;
  border-radius: 10px;
  background: #66a400;
  padding: 0 27px 0 22px;
  position: relative;
  transition: 0.25s all ease;
  z-index: 1;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.office .section__body .container .acc_icon {
  transition: 0.25s;
}
.office .section__body .container .rotate .acc_icon {
  transform: rotateZ(-180deg);
}
.office .section__body .container .accordion-content {
  height: 0px;
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 27px;
  flex-direction: column;
  overflow: hidden;
  transition: 0.25s all ease;
  background-color: #fff;
  transform: translateY(-10px);
  padding: 1px 38px 0px 22px;
}
.office .section__body .container .accordion-content p {
  color: #3c3c3c;
  font-size: 16px;
  font-weight: 500;
}
.office .section__body .container .accordion-content .btn-success {
  display: flex;
  justify-content: center;
  align-items: center;
}
.office .section__body .container .open .accordion-content {
  height: 100%;
  opacity: 1;
  transition: 0.25s all ease;
  padding-top: 25px;
  padding-bottom: 20px;
  border-radius: 0 0 10px 10px;
}

.faq {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s all ease;
}
.faq.show {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.faq .faq__accordion {
  display: flex;
  flex-direction: column;
  gap: 11px 0;
  padding: 32px 0 129px 0;
}
.faq .faq__accordion--item {
  background: #fff;
  border-radius: 10px;
  padding: 0 27px 0 21px;
}
.faq .faq__accordion--item_title {
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq .faq__accordion--item_title span {
  color: #3c3c3c;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  padding-right: 20px;
}
.faq .faq__accordion--item_title span.bold {
  font-weight: 700;
}
.faq .faq__accordion--item_title img {
  transition: 0.25s all ease;
}
.faq .faq__accordion--item_title img.rotate {
  transform: rotateZ(-180deg);
}
.faq .faq__accordion--item_content {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  height: 0;
  overflow: hidden;
  transition: 0.25s all ease;
}
.faq .faq__accordion--item_content.open {
  height: auto;
  overflow: visible;
  padding: 10px 0 22px 0;
}

.thanks {
  width: 393px;
  height: 852px;
  background: linear-gradient(180deg, #3c3c3c 0%, #191919 100%);
  position: absolute;
  top: -50%;
  opacity: 0;
  visibility: 0;
  transform: scale(0);
  transition: 0.25s all ease;
  z-index: 3;
}
.thanks.show {
  top: 0;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.thanks .container {
  flex-direction: column;
}
.thanks .container h3 {
  margin-top: 341px;
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}
.thanks .container button {
  margin-top: 108px;
}

.callmen {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s all ease;
}
.callmen.show {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.callmen .collmen__block {
  position: relative;
}
.callmen .collmen__block .callmen__thanks {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(60, 60, 60, 0.7) 0%, rgba(25, 25, 25, 0.7) 100%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  top: -100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s all ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.callmen .collmen__block .callmen__thanks.show {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.callmen .collmen__block .callmen__thanks--content {
  padding: 31px 24px 34px 24px;
  border-radius: 10px;
  background: #fff;
}
.callmen .collmen__block .callmen__thanks--content h3 {
  color: #3c3c3c;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 18px;
}
.callmen .collmen__block .callmen__thanks--content p {
  color: #3c3c3c;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.callmen .collmen__block .callmen__thanks--content .btns {
  margin-top: 40px;
}
.callmen .section__head {
  padding: 47px 43px 0 34px;
}
.callmen .section__body .container {
  flex-direction: column;
}
.callmen .section__body .container .callmen__form {
  margin: 42px 0 41px 0;
}
.callmen .section__body .container .callmen__form input,
.callmen .section__body .container .callmen__form textarea {
  padding: 19px 21px;
  width: 100%;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 11px;
}
.callmen .section__body .container .callmen__form input::-moz-placeholder, .callmen .section__body .container .callmen__form textarea::-moz-placeholder {
  color: #d6d6d6;
  font-size: 16px;
  font-weight: 500;
}
.callmen .section__body .container .callmen__form input::placeholder,
.callmen .section__body .container .callmen__form textarea::placeholder {
  color: #d6d6d6;
  font-size: 16px;
  font-weight: 500;
}
.callmen .section__body .container .callmen__form .btns {
  margin-top: 54px;
}
.callmen .section__body .container .section__bottom {
  margin-bottom: 52px;
}

.agreement {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s all ease;
}
.agreement.show {
  left: 0;
  opacity: 1;
  visibility: visible;
  z-index: 3;
}
.agreement .section__head {
  padding-top: 47px;
}
.agreement .section__body .container {
  flex-direction: column;
}
.agreement .section__body .container .agreement__content {
  margin-top: 29px;
}
.agreement .section__body .container .agreement__content p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.agreement .section__body .container .agreement__content p b {
  font-weight: 700;
}
.agreement .section__body .container .agreement__content .btns {
  margin-top: 10px;
  margin: 10px 0 50px 0;
}/*# sourceMappingURL=style.css.map */